body {
  margin: 0;
}

.red {
  height: 100px;
  background-color: red;
}

.blue {
  height: 100px;
  background-color: blue;
  margin-top: 20px;
   margin-bottom: 20px;
}

.green {
  height: 100px;
  background-color: green;
}