*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: royalblue;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

#modal {
  background-color: orange;
  max-width: 600px;
  margin: 0 auto;
  height: 200px;
  padding: 20px;
}