body {
  margin: 20px;
}

.card {
  width: 400px;
  padding: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  text-align: center;
}

.avatar {
  width: 150px;
}

.border-blue {
  border: 1px dashed blue;
}