body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  width: 500px;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
  color: #2b2839;
  background-color: #cdb4db;
  border-bottom: 8px solid #bde0fe;
}

.avatar {
  width: 200px;
}

.border-blue {
  border: 1px dashed blue;
}

p {
  font-size: 12px;
}

h3 {
  letter-spacing: 4px;
}
