body {
  margin: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.card {
  width: 450px;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
  color: #2b2839;
  background-color: #cdb4db;
  border-bottom: 8px solid #bde0fe;
}

.avatar {
  width: 200px;
  border-radius: 4px;
  border: none;
}

.border-blue {
  border: 1px dashed blue;
}

h3 {
  letter-spacing: 4px;
}
