/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  background-color: #a2d2ff;
  color: #ffffff;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h4, p {
  text-shadow: 0px 0px 1px black;
}

#birthday-person-img {
  margin: 0 auto;
  width: 150px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}

h2, h4 {
  background: #EFB0C9;
}
