*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}

header img {
  border: 6px solid white;
  margin-top: 20px;
  border-radius: 50%;
}

.container {
  width: 570px;
  margin: 0 auto;
}

.bold-text {
  font-weight: 900;
  display: block;
}

h1 .bold-text {
  font-size: 80px;
}

h2 .bold-text {
  font-size: 60;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
}

a {
  color: #99D930;
  font-weight: 900;
}

a:hover,
a:active {
  color: #131313;
}

.small-text {
  font-size: 16px;
}

.spacing {
  padding: 100px 0;
}

header {
  background-color: #D7D7D7;
}

.intro {
  background-color: #FFEAEA;
}

.content {
  background-color: #EAF9FF;
}