* {
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px #474747;
  font-size: 2rem;
}

