@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  place-content: center;
  background: linear-gradient(0deg, rgba(34,34,34,1) 32%, rgba(28,28,28,1) 32%, rgba(28,28,28,1) 100%);
  color: white;
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
}

p {
  font-size: 1.2em;
  margin-bottom: .5em;
  text-transform: uppercase;
}

span {
  /* color: #71AE21; */
  position: relative;
}

span:before {
  position: absolute;
  content: '';
  height: .2em;
  width: 80%;
  bottom: .1em;
  z-index: -1;
  background-color: #71AE21;;
}