body {
  background-image: url("images/galaxy.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.btn {
  padding: 6px 12px;
  border: none;
  font-weight: bold;
  background-color: white;
  font-family: inherit;
}

.underline {
  border-bottom: 4px solid white;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 100px;
}
