.card {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  background: #111d4a;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.card-img {
  object-fit: cover;
  height: 150px;
}

.card-content {
  padding: 1rem;
}

/* ================
Typography
=================== */
.card-title,
.card-read-time,
.card-btn,
.card-body {
  font-family: 'Blinker', sans-serif;
}

.card-title {
  color: #05cbe9;
  font-size: 1.75rem;
  margin: 0;
}

.card-body {
  font-size: 1rem;
  line-height: 1.6;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-btn {
  font-size: 1.25rem;
  background-color: #05cbe9;
  color: #111d4a;
  text-decoration: none;
  font-weight: 700;
  padding: .35em 1em;
  letter-spacing: 1px;
}

.card-read-time {
  margin: 0;
}



