* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

nav {
  background-color: beige;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

#blog-list {
  padding: 50px 30px 30px;
}

form {
  padding: 90px 10px 10px;
  display: grid;
  background-color: lightblue;
  max-width: 300px;
  margin: 0 auto;
}

input,
textarea {
  padding: 6px;
}

input#post-title,
textarea#post-body {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  
}