body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
}

h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
}

h2 {
  font-size: 1.3125rem;
}

h2 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
}

.fine-print {
  font-size: 00.625rem;
  letter-spacing: 1px;
}

strong {
  font-weight: 900;
}