*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */

.padding-left {
  padding-left: 15px;
}

.typo-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.fw-400 {
  font-weight: 400;
  font-size: 12px;
}

/* Layout */
.container {
  width: 500px;
  margin: 0 auto 50px auto;
  background-color: #fff;
  padding-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: 1px solid #C6C6C6;
  margin-bottom: 10px;
}

.header-logo {
  width: 150px;
}

.header-user {
  border-radius: 50%;
  width: 70px;
}

.main-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.main-container p {
  font-weight: bold;
}

.container-img {
  width: 50px;
  border-radius: 50%;
}

.main-img {
  width: 100%;
}

.social-media {
  display: flex;
  gap: 15px;
  margin: 10px 0 10px 0;
}

.social-media-icons {
  width: 30px;
}

.social-media-para {
  font-weight: bold;
  margin-bottom: 10px;
}

.span-bold {
  font-weight: bold;
}