*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2b2834;
}

header {
  background-color: #5f29a3;
  padding: 45px 0;
}

h1 {
  font-size: 36px;
  color: whitesmoke;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
}

section {
padding: 45px 0;
}

.main-image {
  width: 100%;
}


