*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2b2834;
}

/* Typography */
h1 {
  font-size: 36px;
  color: whitesmoke;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
}

/* links */
a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover {
  color: #d4b44c
}

a:active {
  color: #d4b44c
}

/* Layout */
header {
  background-color: #5f29a3;
  padding: 45px 0;
}

section {
padding: 45px 0;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.main-image {
  width: 100%;
}





